


.navbar{
    background-color: rgb(1, 1, 1);
    margin-bottom: 5%;
    /*opacity: .4;*/
}

.nav-item{
    margin: auto 40% auto 30%;
    opacity: 1;
}
body {
    background: linear-gradient(-45deg, #69e2eb, #b0b2b3, #9a9c9c, #ffffff);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



